body{
    font-family: 'Otomanopee One', sans-serif;
    background-image: url(./images/—Pngtree—multi\ color\ abstract\ background\ vector_1252663.jpg);
}
#head .heading h1 span{
    color: orange;
}
#head{
    
}