body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    background-color: gray;
}
.bg-2 .half h1{
    font-size: 50px;
    text-align: center;
}
.half-width{
    color: orange;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, #e08a18 0%, #f0ee7b 100%);
    padding: 10px 40px;
    border-radius: 5px;
    color: gray;
    font-weight: 700;
}
.center{
    text-align: center;
}
.bg{
    background-image: url(./images/—Pngtree—multi\ color\ abstract\ background\ vector_1252663.jpg);
    background-repeat: no-repeat;
} 
.bg-2{
    margin-bottom: 100px;
}
.new{
    padding-left: 5%;
    color: white;
}
section{
    display: flex;
    margin-bottom: 15px;
}
.img-2{
    width: 50%;
    padding-left: 5%%;
}
.img-2 img{
    width: 80%;
}
.dream-big{
    background-image: url(./images/PngItem_216766.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.dream-big .img-2 h1{
    font-size: 50px;
}
.dream-or{
    color: orange;
}
.flexible{
    display: flex;
    padding-left: 5%; 
}
.flexible h1{
    font-size: 50px;
}
.experience{
    background-image: url(./images/24144-6-vector-file.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom;
}

.experience h1{
    font-size: 50px;
}
.right{
    padding-right: 5%;
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
.right p{
    color: white;
}
#left{
    border-left: solid 10px;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;
}
#right{
    border-left: solid 10px;
    border-image: linear-gradient( orange, rgba(255, 0, 43, 0.568));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

